@media screen {
    body {
        text-align: center;
        background-image: url(tboi\ fds.webp);
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        color: rgb(69, 13, 13);
    }
    img {
        max-width: 50%;
        height: auto;
    }
    header {
        background-color: rgb(213, 125, 93);
        border-right: 3cap;
    }
    section {
        border: 10px;
        border-style: groove;
        border-radius: 3cap;
        background-color: rgb(162, 78, 47);
    }
}