@media screen {
    body {
        background-color: rgb(110, 180, 95);
        text-align: center;
        color:rgb(70, 14, 14);
    }
    img {
        max-width: 25%;
        height: auto;
    }
    section {
        border: 10px;
        border-style:groove;
        border-radius: 3cap;
        background-color: rgb(206, 191, 52);
    }
    header {
        background-color: rgb(20, 112, 5);
    }
    img {
        border-radius: 3cap;
    }
}